/* Fonts and Typography */
@font-face {
  font-family: 'BubbleJellyShadow';
  src: url('../../fonts/BubbleJellyShadow-MV78n.otf') format('opentype');
}

body, button {
  font-family: Arial, sans-serif;
}

h1 {
  font-family: 'BubbleJellyShadow', sans-serif; 
  font-size: 9rem;
  color: #333;
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 10px;
  color: #555;
}

/* General styles */
.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  background: 
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffd700' fill-opacity='1' d='M0,224L60,208C120,192,240,160,360,165.3C480,171,600,213,720,208C840,203,960,149,1080,138.7C1200,128,1320,160,1380,176L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z'/%3E%3C/svg%3E") center/cover no-repeat,
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ff5500' fill-opacity='1' d='M0,224L60,208C120,192,240,160,360,165.3C480,171,600,213,720,208C840,203,960,149,1080,138.7C1200,128,1320,160,1380,176L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'/%3E%3C/svg%3E") center/cover no-repeat;
  }

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 520px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

button:hover {
  color: #333;
}

.upload-btn {
  margin-top: 30px;    
  padding: 30px 60px;  
  font-size: 24px;     
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

}

.header-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.logout-button {
  margin-top: 150px;
  margin-left: 10px;
}
/* Modals */
.dashboard-modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-modal-content img {
  max-width: 100%;
  max-height: 80%; /* You can adjust this depending on the space you want to leave for the image description */
  display: block;
  margin: 0 auto; /* Centers the image horizontally */
}


.dashboard-modal-content p {
  color: #333;
  font-size: 14px;
  margin-top: 10px;
  text-align: center; /* Optional, but can look nice if the text is short */
}


.dashboard-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 500px; /* Fixed width */
  height: 650px; /* Fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.dashboard-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #888;
  background: rgba(255, 255, 255, 0.7); /* This is optional, but it makes the button stand out more on varied backgrounds */
  border: none;
  border-radius: 50%; /* Makes it round */
  width: 30px; /* Matching width and height */
  height: 30px;
  text-align: center;
  line-height: 30px; /* This centers the 'X' vertically */
}

.dashboard-close-button:hover {
  color: #666; /* Darkens the 'X' on hover for a subtle effect */
}


.dashboard-modal-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.dashboard-modal-body {
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"] {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background to dim the rest of the page */
  z-index: 1000; /* make sure the modal is on top of other content */
}


/* Image Grid */
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.image-thumbnail {
  flex: 0 0 calc(20% - 16px); /* Adjusted for 5 images per row */
  width: 256px; /* Setting the width */
  height: 256px; /* Setting the height */
  position: relative;
  overflow: hidden; /* This will ensure any part of the image that exceeds the thumbnail size will be hidden. */
  background-color: #000; /* Black background */
}

.image-thumbnail img {
  width: 100%; /* This ensures the image covers the width of the thumbnail */
  height: 100%; /* This ensures the image covers the height of the thumbnail */
  object-fit: fill; /* This makes sure the image scales proportionally and excess parts are cropped rather than distorted or leaving empty space. */
  transition: transform 0.3s;
}

.image-description {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background for readability */
  width: 100%;
  text-align: center;
}

.image-thumbnail:hover {
  transform: scale(1.05);
}

.image-thumbnail img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.image-thumbnail img:hover {
  transform: scale(1.1);
}

.rating-container {
  display: flex;
  align-items: center;
}

.rate-section {
  display: flex;
  align-items: center;
  justify-content: center; /* Added this line to center the entire content within the rate-section */
  flex-direction: row-reverse;
}

.rate-text {
  margin-right: 10px; /* Adjust this value if you want more or less space between "Rate:" and the stars */
  font-size: 24px;
  order: 1;
}

.average-rating {
  text-align: right;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
}

.empty-star {
  font-size: 48px;
  cursor: pointer;
  transition: color 0.3s;
  float: right; /* float the stars to the right */
  margin-bottom: 20px;
 
}

.empty-star:hover,
.empty-star:hover ~ .empty-star {
  color: goldenrod;
  transform: scale(1.1);
}